</head>
<body>
  <nav>
    <a href="/flights/new"class=<%= title === 'Add Flight' ? 'active' : '' %>>
      ADD FLIGHT
    </a>
    <a href="/flights/"class=<%= title === 'All Flights' ? 'active' : '' %>>
      ALL FLIGHTS
    </a>
    <a href="/meals/new"class=<%= title === 'Add Meal' ? 'active' : '' %>>
      ADD MEAL
    </a>
    <a href="/meals/"class=<%= title === 'All Meals' ? 'active' : '' %>>
      ALL MEALS
    </a>
  </nav>